<div id='mailbox'>
    <div class="row">
        <div class="span2 navigation">
            <ul class="nav nav-tabs nav-stacked">
                <li>
                    <a class='inbox' href="#mails">Inbox</a>
                </li>
                <li>
                    <a class='drafts' href="#drafts">Drafts</a>
                </li>
                <li>
                    <a class='contacts' href="#contacts">Contacts</a>
                </li>
            </ul>
        </div>
        <div class="span9 emailListContainer">
        </div>
    </div>
</div>
